@use '@/styles/breakpoints' as *;

.path-breadcrumbs {
  &__container {
    display: none;
    gap: 0.8rem;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;

    &.desktop {
      display: flex;
      @include mq(1024px) {
        display: none;
      }
    }

    &.mobile {
      display: none;
      @include mq(1024px) {
        display: flex;
      }
    }
  }

  &__item {
    color: var(--th-clr-primary-text);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 0 0 auto;

    &--active {
      color: var(--th-clr-accent-lighten-1);
      font-weight: 600;
      flex: 0 1 auto;
    }
  }

  &__separator {
    color: var(--th-clr-placeholder-text);
    font-size: 1.5rem;
    line-height: 1rem;

    > svg {
      width: 0.9rem;
    }
  }
}
