$colors-dark: (
  // Background
  background: #1e2129,
  background-lighten-1: #293542,
  background-lighten-2: lighten(#293542, 10%),
  background-darken-1: #1b1c22,
  semi-transparent-background: rgba(#000, 0.3),
  // Text
  primary-text: #fff,
  secondary-text: #d9e0e8,
  placeholder-text: #a1a8b0,
  inverted-primary-text: #000,
  // Accent
  accent: #007fff,
  accent-lighten-1: #84c1ff,
  accent-lighten-2: #b3d8ff,
  accent-border: rgba(#007fff, 0.66),
  // Red
  red: #ff7777,
  red-lighten-1: lighten(#ff7777, 20%),
  red-darken-1: darken(#ff7777, 30%),
  red-transparent: rgba(#ff7777, 0.33),
  // Yellow
  yellow: #d28f0b,
  yellow-lighten-1: lighten(#d28f0b, 20%),
  yellow-lighten-2: lighten(#d28f0b, 40%),
  // Green
  green: #00ffd1,
  green-lighten-1: lighten(#00ffd1, 20%),
  green-darken-1: darken(#00ffd1, 20%),
  green-transparent: rgba(#020303, 0.33),
  // Gray
  gray: #687c90,
  gray-lighten-1: lighten(#687c90, 20%),
  gray-darken-1: darken(#687c90, 25%),
  gray-transparent: rgba(#687c90, 0.33)
);
