.property {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  color: var(--th-clr-secondary-text);
  font-size: 0.9rem;
  font-weight: 400;

  .property__name {
    min-width: 6.75rem;
    margin-right: 1rem;
  }

  .property__value {
    display: flex;
  }
}
