.toggle {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  border-radius: var(--th-border-radius);
  width: 100%;
  user-select: none;

  &__switch {
    width: 3rem;
    height: 1.8rem;
    border-radius: 5rem;
    border: 0.1rem solid var(--th-clr-toggle-switch-border);
    background-color: var(--th-clr-toggle-switch-bg);
    outline: none;
    box-shadow: inset 0 0 0.2rem var(--th-clr-bg-semi-transparent);

    &__knob {
      margin: 0.1rem;
      width: 1.4rem;
      height: 1.4rem;
      border-radius: 50%;
      background-color: var(--th-clr-toggle-knob-bg);
      transition:
        outline-offset 0.15s ease-in-out,
        background-color 0.05s ease-out,
        transform 0.2s ease-in-out;
      outline-offset: 0.3rem;
      outline-color: var(--th-clr-toggle-outline-color);
      box-shadow: 0 0 0.2rem var(--th-clr-bg-semi-transparent);
    }
  }

  input:checked ~ &__switch &__switch__knob {
    background-color: var(--th-clr-toggle-checked-knob-bg);
    transform: translateX(1.2rem);
  }

  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1;
  }

  &[aria-disabled='true'] {
    .toggle__switch {
      background-color: var(--th-clr-toggle-switch-disabled-bg);

      .toggle__switch__knob {
        background-color: var(--th-clr-toggle-knob-disabled-bg);
      }
    }

    input:checked ~ .toggle__switch .toggle__switch__knob {
      background-color: var(--th-clr-toggle-checked-knob-disabled-bg);
    }

    &,
    & > * {
      cursor: not-allowed;
      color: var(--th-clr-toggle-disabled-text);
    }
  }

  &:focus-within .toggle__switch__knob {
    outline: auto;
    outline-offset: 0.1rem;
    outline-color: var(--th-clr-toggle-outline-color);
  }
}
