@use '@/styles/breakpoints' as *;

.files-content-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 0;
  flex: 1 1 auto;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
}

.files-header-container {
  display: flex;
  gap: 0.4rem;
  padding: 0.3rem 2rem 0;
  height: 3.7rem;
  background-color: var(--th-clr-page-bg);
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  max-width: 100%;

  @include mq(1024px) {
    padding: 0.7rem 0.75rem 0;
  }
}

.files-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 2rem;
  gap: 0.5rem;

  @include mq(1024px) {
    padding: 0 0.75rem;
  }
}

.files-action-checkbox {
  margin-left: 0.45rem;

  @include mq(1024px) {
    margin-left: 0.25rem;
  }
}

.files-path-breadcrumbs {
  padding: 0.5rem 2.2rem;

  @include mq(1024px) {
    padding: 0.3rem 0.75rem 0;
  }
}

.files-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem 2rem;

  @include mq(1024px) {
    padding: 0.5rem 0.75rem;
  }

  &-columns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex: 1 1 auto;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    flex: 0 1 50%;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--th-clr-secondary-text);

    > svg {
      width: 1rem;
    }

    &:nth-of-type(1) {
      flex: 0 1 calc(50% - 1rem);
      padding-left: 1.1rem;

      @include mq(1024px) {
        flex: 0 1 calc(50% - 0.4rem);
      }
    }
  }
}

.files-content {
  margin: 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  width: 100%;
  max-width: 100%;
  flex: 1 1 auto;
  height: auto;
  transform: translate3d(0, 0, 0);

  @include mq(1024px) {
    margin: 0.5rem;
    max-width: calc(100% - 1rem);
  }
}

#side-root {
  position: sticky;
  top: 0;
  left: 0;
}
