.properties__tabs {
  display: flex;
  flex-direction: column;
  width: 100%;

  .tabs__switcher {
    color: var(--th-clr-tabs-switcher-text);
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding: 0.5rem 0;
  }

  .tabs__tab {
    height: 2rem;
    width: auto;
    position: relative;
    outline-offset: 0.6rem;
    outline-color: var(--th-tabs-outline-color);
    transition: outline-offset 0.1s ease-in-out;
    font-weight: 500;

    &[data-selected='true'] {
      color: var(--th-clr-tabs-switcher-active-text);

      &::after {
        content: '';
        transition: all 0.1s ease-in-out;
        position: absolute;
        top: 2.5rem;
        left: 0;
        width: 100%;
        height: 0.2rem;
        background-color: var(--th-clr-tabs-switcher-active-underline-bg);
        border-radius: var(--th-border-radius);
        transform: 0;
      }
    }

    &:focus-within {
      outline-offset: 0.4rem;
      border-radius: 0.05rem;
    }
  }

  .tabs__divider {
    border-bottom: 0.2rem solid var(--th-clr-tabs-divider-bg);
    border-radius: var(--th-border-radius);
    position: relative;
    z-index: -1;
  }

  .tabs__renderer {
    opacity: 0;
    animation: fade-in 0.1s ease-in-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
  }
}
