button.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  border-radius: var(--th-border-radius);
  outline-offset: 0.3rem;
  outline-color: var(--th-clr-accent-border);
  transition:
    outline-offset 0.15s ease-in-out,
    background-color 0.05s ease-out,
    border-color 0.05s ease-out,
    color 0.05s ease-out;
  border: 0.1rem solid transparent;
  padding: 0 0.8rem;
  user-select: none;

  .button__prefix {
    margin-right: 0.5rem;
  }

  .button__suffix {
    margin-left: 0.5rem;
  }

  .button__prefix,
  .button__suffix {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Sizes
  // -------------------------
  &.button--small {
    font-size: 0.75rem;
    font-weight: 500;
    gap: 0.2rem;

    .button__content {
      padding: 0.4rem 0;
    }

    .button__prefix {
      > svg {
        width: 0.9rem;
        height: 0.9rem;
      }
    }
  }

  &.button--medium {
    font-size: 0.9rem;
    font-weight: 500;
    gap: 0.2rem;

    .button__content {
      padding: 0.5rem 0;
    }

    .button__prefix {
      > svg {
        width: 1.1rem;
        height: 1.1rem;
      }
    }
  }

  &.button--large {
    font-size: 1rem;
    font-weight: 600;
    gap: 0.4rem;

    .button__content {
      padding: 0.6rem 0;
    }

    .button__prefix {
      > svg {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  // Variants
  // -------------------------
  &.button--primary {
    background-color: var(--th-clr-button-primary-bg);
    border-color: var(--th-clr-button-primary-border);
    color: var(--th-clr-button-primary-text);

    &:hover {
      background-color: var(--th-clr-button-primary-hover-bg);
      border-color: var(--th-clr-button-primary-hover-border);
      color: var(--th-clr-button-primary-hover-text);
    }
  }

  &.button--secondary {
    background-color: var(--th-clr-button-secondary-bg);
    border-color: var(--th-clr-button-secondary-border);
    color: var(--th-clr-button-secondary-text);

    &:hover {
      background-color: var(--th-clr-button-secondary-hover-bg);
      border-color: var(--th-clr-button-secondary-hover-border);
      color: var(--th-clr-button-secondary-hover-text);
    }
  }

  &.button--outline {
    background-color: var(--th-clr-button-outline-bg);
    border-color: var(--th-clr-button-outline-border);
    color: var(--th-clr-button-outline-text);

    &:hover {
      background-color: var(--th-clr-button-outline-hover-bg);
      border-color: var(--th-clr-button-outline-hover-border);
      color: var(--th-clr-button-outline-hover-text);
    }
  }

  &.button--success {
    background-color: var(--th-clr-button-success-bg);
    border-color: var(--th-clr-button-success-border);
    color: var(--th-clr-button-success-text);

    &:hover {
      background-color: var(--th-clr-button-success-hover-bg);
      border-color: var(--th-clr-button-success-hover-border);
      color: var(--th-clr-button-success-hover-text);
    }
  }

  &.button--info {
    background-color: var(--th-clr-button-info-bg);
    border-color: var(--th-clr-button-info-border);
    color: var(--th-clr-button-info-text);

    &:hover {
      background-color: var(--th-clr-button-info-hover-bg);
      border-color: var(--th-clr-button-info-hover-border);
      color: var(--th-clr-button-info-hover-text);
    }
  }

  &.button--danger {
    background-color: var(--th-clr-button-danger-bg);
    border-color: var(--th-clr-button-danger-border);
    color: var(--th-clr-button-danger-text);

    &:hover {
      background-color: var(--th-clr-button-danger-hover-bg);
      border-color: var(--th-clr-button-danger-hover-border);
      color: var(--th-clr-button-danger-hover-text);
    }
  }

  &.button--warning {
    background-color: var(--th-clr-button-warning-bg);
    border-color: var(--th-clr-button-warning-border);
    color: var(--th-clr-button-warning-text);

    &:hover {
      background-color: var(--th-clr-button-warning-hover-bg);
      border-color: var(--th-clr-button-warning-hover-border);
      color: var(--th-clr-button-warning-hover-text);
    }
  }

  [aria-disabled='true'] &,
  &[aria-disabled='true'] {
    background-color: var(--th-clr-gray-darken-1);
    border-color: var(--th-clr-gray-darken-1);
    color: var(--th-clr-disabled-text);

    &,
    & > * {
      cursor: not-allowed;
    }

    &:hover {
      background-color: var(--th-clr-gray-darken-1);
      border-color: var(--th-clr-gray-darken-1);
      color: var(--th-clr-disabled-text);
    }
  }

  &:focus-within {
    outline-offset: 0.1rem;
  }
}
