$default-theme-dark: (
  color-scheme: dark,
  // Background
  bg: #1e2129,
  bg-lighten-1: #293542,
  bg-lighten-2: lighten(#293542, 10%),
  bg-darken-1: #1b1c22,
  bg-darken-2: darken(#1b1c22, 3%),
  bg-semi-transparent: rgba(#000, 0.3),
  // Views
  // ==========================
  page-bg: darken(#1e2129, 2%),
  // Text
  // ==========================
  primary-text: #fff,
  secondary-text: #d9e0e8,
  placeholder-text: #a1a8b0,
  disabled-text: darken(#d9e0e8, 30%),
  inverted-primary-text: #000,

  // Buttons
  // ==========================
  split-button-bg: darken(#293542, 2%),
  split-button-border: darken(#293542, 2%),
  split-button-text: #d9e0e8,
  split-button-hover-bg: lighten(#293542, 5%),
  split-button-hover-border: lighten(#293542, 5%),
  split-button-hover-text: #d9e0e8,

  // Primary
  button-primary-bg: #2387fa,
  button-primary-border: #2387fa,
  button-primary-text: #fff,
  button-primary-hover-bg: darken(#2387fa, 10%),
  button-primary-hover-border: darken(#2387fa, 10%),
  button-primary-hover-text: #fff,

  split-button-primary-bg: lighten(#2387fa, 10%),
  split-button-primary-text: #fff,
  split-button-primary-border: lighten(#2387fa, 10%),
  split-button-primary-hover-bg: darken(#2387fa, 10%),
  split-button-primary-hover-border: darken(#2387fa, 10%),
  split-button-primary-hover-text: #fff,
  // Secondary
  button-secondary-bg: #293542,
  button-secondary-border: #293542,
  button-secondary-text: #d9e0e8,
  button-secondary-hover-bg: lighten(#293542, 10%),
  button-secondary-hover-border: lighten(#293542, 10%),
  button-secondary-hover-text: #d9e0e8,

  split-button-secondary-bg: lighten(#293542, 5%),
  split-button-secondary-text: #d9e0e8,
  split-button-secondary-border: lighten(#293542, 5%),
  split-button-secondary-hover-bg: lighten(#293542, 10%),
  split-button-secondary-hover-border: lighten(#293542, 10%),
  split-button-secondary-hover-text: #d9e0e8,
  // Outline
  button-outline-bg: transparent,
  button-outline-border: darken(#687c90, 25%),
  button-outline-text: #d9e0e8,
  button-outline-hover-bg: darken(#687c90, 25%),
  button-outline-hover-border: darken(#687c90, 25%),
  button-outline-hover-text: #d9e0e8,
  // Success
  button-success-bg: darken(#00ffd1, 15%),
  button-success-border: darken(#00ffd1, 15%),
  button-success-text: #fff,
  button-success-hover-bg: darken(#00ffd1, 25%),
  button-success-hover-border: darken(#00ffd1, 25%),
  button-success-hover-text: #fff,

  split-button-success-bg: darken(#00ffd1, 20%),
  split-button-success-text: #fff,
  split-button-success-border: darken(#00ffd1, 20%),
  split-button-success-hover-bg: darken(#00ffd1, 25%),
  split-button-success-hover-border: darken(#00ffd1, 25%),
  split-button-success-hover-text: #fff,
  // Info
  button-info-bg: #84c1ff,
  button-info-border: #84c1ff,
  button-info-text: #000,
  button-info-hover-bg: #b3d8ff,
  button-info-hover-border: #b3d8ff,
  button-info-hover-text: #000,

  split-button-info-bg: lighten(#84c1ff, 5%),
  split-button-info-text: #000,
  split-button-info-border: lighten(#84c1ff, 5%),
  split-button-info-hover-bg: lighten(#84c1ff, 10%),
  split-button-info-hover-border: lighten(#84c1ff, 10%),
  split-button-info-hover-text: #000,
  // Danger
  button-danger-bg: #df2c2c,
  button-danger-border: #df2c2c,
  button-danger-text: #fff,
  button-danger-hover-bg: lighten(#df2c2c, 5%),
  button-danger-hover-border: lighten(#df2c2c, 5%),
  button-danger-hover-text: #fff,

  split-button-danger-bg: lighten(#df2c2c, 5%),
  split-button-danger-text: #fff,
  split-button-danger-border: lighten(#df2c2c, 5%),
  split-button-danger-hover-bg: lighten(#df2c2c, 10%),
  split-button-danger-hover-border: lighten(#df2c2c, 10%),
  split-button-danger-hover-text: #fff,
  // Warning
  button-warning-bg: lighten(#d28f0b, 5%),
  button-warning-border: lighten(#d28f0b, 5%),
  button-warning-text: #fff,
  button-warning-hover-bg: lighten(#d28f0b, 10%),
  button-warning-hover-border: lighten(#d28f0b, 10%),
  button-warning-hover-text: #fff,

  split-button-warning-bg: lighten(#d28f0b, 10%),
  split-button-warning-text: #fff,
  split-button-warning-border: lighten(#d28f0b, 10%),
  split-button-warning-hover-bg: lighten(#d28f0b, 15%),
  split-button-warning-hover-border: lighten(#d28f0b, 15%),
  split-button-warning-hover-text: #fff,

  // Input
  // ==========================
  input-bg: #293542,
  input-border: #293542,
  input-text: #d9e0e8,
  input-outline-color: #2387fa,
  input-placeholder-text: #a1a8b0,
  // disabled
  input-disabled-bg: darken(#687c90, 25%),
  input-disabled-border: darken(#687c90, 25%),
  input-disabled-text: darken(#a1a8b0, 10%),
  input-disabled-placeholder-text: darken(#a1a8b0, 20%),
  // invalid
  input-invalid-text: lighten(#df2c2c, 5%),
  input-invalid-bg: #1b1c22,
  input-invalid-border: lighten(#df2c2c, 5%),
  input-invalid-placeholder-text: #df2c2c,

  // Toggle
  // ==========================
  toggle-switch-bg: #293542,
  toggle-switch-border: #293542,
  toggle-knob-bg: lighten(#687c90, 20%),
  toggle-outline-color: #2387fa,
  // checked
  toggle-checked-knob-bg: #2387fa,
  // disabled
  toggle-switch-disabled-bg: darken(#1b1c22, 3%),
  toggle-knob-disabled-bg: darken(#687c90, 35%),
  toggle-checked-knob-disabled-bg: darken(#2387fa, 20%),
  toggle-disabled-text: #a1a8b0,

  // Radio
  // ==========================
  radio-switch-bg: transparent,
  radio-switch-border: lighten(#1e2129, 15%),
  radio-outline-color: #2387fa,
  // checked
  radio-checked-knob-bg: #2387fa,
  radio-checked-knob-border: rgba(#2387fa, 0.66),
  radio-checked-label-text: #84c1ff,
  // disabled
  radio-switch-disabled-bg: darken(#1b1c22, 3%),
  radio-knob-disabled-bg: darken(#687c90, 35%),
  radio-checked-knob-disabled-bg: darken(#2387fa, 20%),
  radio-disabled-text: #a1a8b0,
  radio-label-text: #fff,
  radio-label-description-text: #a1a8b0,

  // Fieldset
  // ==========================
  fieldset-box-bg: #1e2129,
  fieldset-box-border: lighten(#1e2129, 10%),
  fieldset-text: #a1a8b0,

  // Spacer
  // ==========================
  spacer-bg: lighten(#1e2129, 10%),
  // Colors
  // ==========================
  // Accent
  accent: #2387fa,
  accent-lighten-1: #84c1ff,
  accent-lighten-2: #b3d8ff,
  accent-border: rgba(#2387fa, 0.66),
  accent-disabled: darken(#2387fa, 20%),
  // Red
  red: #df2c2c,
  red-lighten-1: lighten(#df2c2c, 20%),
  red-darken-1: darken(#df2c2c, 30%),
  red-transparent: rgba(#df2c2c, 0.33),
  // Yellow
  yellow: #d28f0b,
  yellow-lighten-1: lighten(#d28f0b, 20%),
  yellow-lighten-2: lighten(#d28f0b, 40%),
  // Green
  green: #00ffd1,
  green-lighten-1: lighten(#00ffd1, 20%),
  green-darken-1: darken(#00ffd1, 20%),
  green-transparent: rgba(#020303, 0.33),
  // Gray
  gray: #687c90,
  gray-lighten-1: lighten(#687c90, 20%),
  gray-darken-1: darken(#687c90, 25%),
  gray-darken-2: darken(#687c90, 35%),
  gray-transparent: rgba(#687c90, 0.33),
  // Other
  border-radius: 0.5rem,

  // File Details / Tabs
  // ==========================
  tabs-divider-bg: lighten(#1e2129, 5%),
  tabs-switcher-text: #d9e0e8,
  tabs-switcher-active-text: #84c1ff,
  tabs-outline-color: #2387fa,
  tabs-switcher-active-underline-bg: #2387fa
);
