@use '@/styles/breakpoints' as *;

.panel {
  &-item {
    display: flex;
    flex-direction: column;
    background-color: var(--th-clr-bg);

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &-name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.8rem;
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--th-clr-primary-text);

        > svg {
          width: 1.3rem;
          height: 1.3rem;
          color: var(--th-clr-gray-lighten-1);
        }

        @include mq(1024px) {
          font-size: 1.2rem;

          > svg {
            width: 1.8rem;
            height: 1.8rem;
          }
        }
      }
    }

    &__sub {
      width: 100%;
      display: flex;
      align-items: stretch;

      &-indicator {
        width: 0.25rem;
        margin-left: 0.55rem;
        margin-top: 1rem;
        margin-bottom: 0.8rem;
        background: var(--th-clr-gray-darken-1);
        border-radius: var(--th-border-radius);
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 0.85rem;
        padding-bottom: 0.7rem;
        margin-left: 1.5rem;
        flex: 1 1 auto;

        &-item {
          padding: 0.5rem 0.7rem;
          border-radius: var(--th-border-radius);
          cursor: pointer;
          transition: background-color 0.1s ease-in-out;
          position: relative;
          font-size: 0.85rem;

          &.active {
            font-weight: 700;
          }

          &.active::after {
            content: '';
            position: absolute;
            width: 0.25rem;
            height: 1.6rem;
            background-color: var(--_color);
            left: -1.75rem;
            top: 50%;
            transform: translateY(-50%);
            border-radius: var(--th-border-radius);

            @include mq(1024px) {
              height: 1.9rem;
            }
          }

          &:hover {
            background-color: var(--th-clr-gray-darken-1);
          }

          @include mq(1024px) {
            font-size: 1rem;
            padding: 0.5rem 0.8rem;
          }
        }
      }
    }
  }
}
